
# FTL data
# \ to preserve space character
/project/FTL\ Data/*
!/project/FTL\ Data/placeholder.txt

# environment
/project/__pycache__
# data
/project/old\ version
/project/old\ data/
# unreleased stuff
/project/utils
/project/wikiShips.txt
/project/compareVersions.txt

/project/Append\ wikiElements

/misc
