wikiTools.ini
__pycache__

# FTL DAT
# \ to preserve space character
/project/FTL\ DAT/*
!/project/FTL\ DAT/placeholder.txt

# environment
/project/__pycache__
# data
/project/old\ version
/project/old\ data/
# unreleased stuff
/project/utils/*
!/project/utils/vanillaMultiverseMap.json
/project/wikiShips.txt
/project/compareVersions.txt

/project/Append\ wikiElements

/misc
